@mixin h-text() {
  transition: color $t;

  &:hover {
    color: $c-hover;
  }

  &:active {
    color: $c-active;
  }
}

@mixin h-b() {
  transition: background-color $t, color $t, border $t;

  &:hover {
    background-color: $c-hover;
    color: #fff;
  }

  &:active {
    background-color: $c-action;
    color: #fff;
  }
}

@mixin make-container() {
  height: 100%;
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  padding-left: $g;
  padding-right: $g;

  @include mb-down(md) {
    max-width: 768px;
  }

  @include mb-down(sm) {
    max-width: 100%;
  }
}

@mixin make-row($vertical: start, $horizontal: start) {
  height: 100%;
  display: flex;
  margin-left: -$g / 2;
  margin-right: -$g / 2;

  @if $vertical == "center" {
    align-items: center;
  } @else if $vertical == "end" {
    align-items: flex-end;
  }

  @if $horizontal == "center" {
    justify-content: center;
  } @else if $horizontal == "between" {
    justify-content: space-between;
  } @else if $horizontal == "end" {
    justify-content: flex-end;
  }
}

@mixin make-col() {
  padding-left: $g / 2;
  padding-right: $g / 2;
}

@mixin make-left() {
  height: 100%;
  flex-basis: 25%;
  max-width: 25%;
  padding-left: $g / 2;
  padding-right: $g / 2;
}

@mixin make-right() {
  flex-basis: 75%;
  max-width: 75%;
  padding-left: $g / 2;
  padding-right: $g / 2;
}

@mixin mb-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin mb-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin mb-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  @include mb-up($lower, $breakpoints) {
    @include mb-down($upper, $breakpoints) {
      @content;
    }
  }
}

@mixin mb-only($name, $breakpoints: $grid-breakpoints) {
  @include mb-between($name, $name, $breakpoints) {
    @content;
  }
}

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}
